body {
    background-color: #eee;


}
.collapse {
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
  padding: 3px;
  text-align: left;
}

th {
  padding: 3px;
  border-bottom: 2px solid #4A4A4A;
}

td {
  padding: 3px;
  border-bottom: 1px solid #DEC9D0;
}

.correct{color : green;}
.wrong{color: red;}
.ui-helper-hidden-accessible { display:none; }
/* .ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;} */



.autocomplete {
  position: relative;
  display: inline-block;
}

.ui-autocomplete
{
    position: absolute;
    cursor: default;
    /* left:250px !important;
    width:200px !important; */
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/* 
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  position the autocomplete items to be the same width as the container:
  top: 100%;
  left: 0;
  right: 0;
} */


body .ui-autocomplete .ui-menu-item .ui-corner-all {
  background-color: #ffffea;
   all <a>
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
  background-color: #f7f796;

}



/*your code here*/
